@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome Home Controller</h2>
<h2>Testing TeamCity Trigger</h2>
<h2>Testing TeamCity with Full UI Testing</h2>
@*<p>@Html.Action("MisExamenes", "Examen")</p>*@